<!-- tic tac toe index -->

<div id="game" class="container">
    <table>
        <tr>
            <td><button class="box">&nbsp;</button></td>
            <td><button class="box">&nbsp;</button></td>
            <td><button class="box">&nbsp;</button></td>
        </tr>
        <tr>
            <td><button class="box">&nbsp;</button></td>
            <td><button class="box">&nbsp;</button></td>
            <td><button class="box">&nbsp;</button></td>
        </tr>
        <tr>
            <td><button class="box">&nbsp;</button></td>
            <td><button class="box">&nbsp;</button></td>
            <td><button class="box">&nbsp;</button></td>
        </tr>
    </table>

    <button class="btn btn-secondary" id = "reset" (click)="replay();">reset</button>
</div>

<section class="section section-2">
    <span class="loader loader-double"></span>
</section>