<app-navbar></app-navbar>

<input class="form-control mr-sm-2" id="search" type="text" placeholder="Search" (change)="searchUser($event)">


<h5>Results : </h5>

<div id="results">
    <!-- <a *ngFor="let user of users">
      <div class="friend">
        <div class="photo" style="background-image: url('../../assets/images/image1.jpg')"></div>
          <div class="details">
            <h5>{{user}}</h5>
            <button type="submit" class="btn btn-primary" (click)="sendFriendReq({{user}})">Add Friend</button>
          </div>
      </div>
    </a> -->
</div>
